.kompile*
.krun*
.kast*
.ktest*
.kdoc*
*-kompiled
*.pdf
*.swp
.metadata
.recommenders
.cache
.idea
*.iml
.project
.classpath
.settings/
java-backend/.project
k-distribution/.project
k-distribution/cache.bin
*~
junit-reports
target/
kore/doc
TAGS
tags